@using Web.Areas.Admin.ViewModels.Offer
@model OfferCreateVM

<div class="main-panel">
    <div class="content-wrapper">
        <div class="row">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <p class="card-description">
                            Offers
                        </p>
                        <form enctype="multipart/form-data" method="post" asp-action="create" asp-controller="offer" class="forms-sample">
                            <div class="form-group">
                                <label asp-for="Title">Title</label>
                                <input class="form-control" asp-for="Title">
                                <span asp-validation-for="Title"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Text">Text</label>
                                <textarea class="form-control" asp-for="Text"></textarea>
                                <span asp-validation-for="Text"></span>
                            </div>
                             <div class="form-group">
                                <label asp-for="CoffeeType1">Coffee Type 1</label>
                                <textarea class="form-control" asp-for="CoffeeType1"></textarea>
                                <span asp-validation-for="CoffeeType1"></span>
                            </div>
                             <div class="form-group">
                                <label asp-for="Offer1">Offer 1</label>
                                <textarea class="form-control" asp-for="Offer1"></textarea>
                                <span asp-validation-for="Offer1"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo1">Photo 1</label>
                                <input class="form-control" asp-for="Photo1">
                                <span asp-validation-for="Photo1"></span>
                            </div> <div class="form-group">
                                <label asp-for="CoffeeType2">Coffee Type 2</label>
                                <textarea class="form-control" asp-for="CoffeeType2"></textarea>
                                <span asp-validation-for="CoffeeType2"></span>
                            </div>
                             <div class="form-group">
                                <label asp-for="Offer2">Offer 2</label>
                                <textarea class="form-control" asp-for="Offer2"></textarea>
                                <span asp-validation-for="Offer2"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Photo2">Photo 2</label>
                                <input class="form-control" asp-for="Photo2">
                                <span asp-validation-for="Photo2"></span>
                            </div>

                            <button type="submit" class="btn btn-primary me-2">Submit</button>
                            <a class="btn btn-danger" asp-action="index" asp-controller="offer"> Cancel</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>